<form action="" method="post">
    <p>Title: &nbsp; <input type=text name=title></p>
    <p>Author: &nbsp; <input type=text name=author></p>
    <p>Abstract: &nbsp; <input type=text name=abstract></p>
    <p>Keywords: &nbsp; <input type=text name=keywords></p>
    <p>Image: &nbsp; <input type=text name=image></p>
    <p>File: &nbsp; <input type=text name=file></p>
    <p>ISSN: &nbsp; <input type=text name=issn></p>
    <p>Publisher: &nbsp; <input type=text name=publisher></p>
    <p>Volume: &nbsp; <input type=text name=volume></p>
    <p>Page: &nbsp; <input type=text name=page></p>
    <p>Number: &nbsp; <input type=text name=number></p>
    <p>Year: &nbsp; <input type=text name=year></p>
    <p>Month: &nbsp; <input type=text name=month></p>
    <p>Day: &nbsp; <input type=text name=day></p>
    <p><input type=submit value=Submit></p>
</form>